body {
	font-family: 'Lora', serif;
	color: #fff;
	max-width: 100%;
    overflow-x: hidden;
}

.navbar-default {
	background-color: transparent;
	border: transparent;
}

.navbar {
	font-size: 20px;
	color: #fff;
}

.navbar-brand {
	font-size: 26px;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 18px;
	-webkit-transition: .3s all ease;
  	-moz-transition: .3s all ease;
  	-o-transition: .3s all ease;
  	-ms-transition: .3s all ease;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	-webkit-transition: .3s all ease;
  -moz-transition: .3s all ease;
  -o-transition: .3s all ease;
  -ms-transition: .3s all ease;
	color: #2b2b2b;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #2B2B2B;
}

#hero {
	background-color: #446cb3;
}



h3, h4, h5 {
	color: #2b2b2b;
}

p {
	font-size: 16px;
	color: #2b2b2b;
	line-height: 200%;
}

p.opening {
	font-size: 16px;
	line-height: 200%;
}

#hero p {
	font-size: 22px;
	color: #fff;
	line-height: 190%;
}

span {
	color: #2b2b2b;
	cursor: pointer;
}


hr {
	height: 1px;
    border: 0;
    border-top: 1px solid #d6d6d6;
    margin: 1em 0;
    width: 100%;
}

#hero hr {
	height: 1px;
    border: 0;
    border-top: 5px solid #fff;
    margin: 1em 0;
    width: 5%;
}

a {
	color: #2b2b2b;
}

.leaders span{
	font-size: 18px;
}

span.title {
	font-size: 16px;
}


@media (min-width: 1200px) {
.col-lg-4 {
    width: 33.33333333%;
    padding-left: 0px;
}

@media (min-width: 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	    margin-left: -30px;

}
	}
}

@media (max-width: 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	    margin-left: -15px;
	    padding-bottom: 75px;
    line-height: initial;
	}
}